body{
    width: 1440px;
    height: auto;
    margin: 0 auto;
}
header{
    height: 800px;
    background-color: #4A2B33;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    display: block;
    color: #D27487;
    text-decoration: none;
}
.menu li{
    display: inline-block;
    list-style-type: none;
    padding-left: 10px;
}
.logo{
    color: #D27487;
    letter-spacing: 0.3cap;
}

.image{
    width: 1300px;
    height: 650px;
    margin: 0 auto;
}

.location{
    background-color: #AA9E54;
    height: 470px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: none;
    font-style: normal;
    padding: 200px 400px;
    text-align: center;
}

.gallery{
    margin: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    
}
.gallery1{
    grid-column: 2;
    grid-row: 1/3;
}
.bordo{
    background-color: #4A2B33;
    color: #D27487;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 150px 50px;
}
.lorem{
    width: 500px;
    height: 190px;
    }